body > .skiptranslate {
  display: none;
}

.goog-te-banner-frame.skiptranslate {
  display: none !important;
}

body > #goog-gt-tt {
  display: none !important;
}

.notranslate {
  translate: none !important;
}

body {
  top: 0px !important;
}
@media print {
  #google_translate_element {
    display: none;
  }
}
